body {
  background-image: url('./images/BeFunky-photo.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.body {
  display: grid;
  grid-template-columns: 2fr 3fr;
  margin: 10px 50px 10px 50px;
  box-shadow: 0 0 16px rgba(34, 37, 37, 0.209);
  border-radius: 6px;
  overflow: hidden;
}


* {
  font-family: 'Ubuntu';
}

.loading {
  width: 100px;
  height: 100px;
  margin: 30vh auto;
  vertical-align: middle;
  text-align: center;
  background-color: transparent;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid rgb(70, 154, 199);
  border-right: 8px solid rgb(152, 70, 199);
  border-radius: 50%;
  animation: linear spin 15 0.5s;
}

.nofound {
  width: 100px;
  height: 100px;
  margin: 30vh auto;
  vertical-align: middle;
  text-align: center;
  background-color: black;
  color: aliceblue;
  font-size: xx-large;
  
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width:1240px) {
  .body {
      grid-template-columns: 1fr;
      grid-template-rows: 2fr auto;
      margin: 10px 50px 10px 50px;
      box-shadow: 0 0 16px rgba(34, 37, 37, 0.209);
      border-radius: 6px;
      overflow: hidden;
    }
}